<%= form_for(@sanguosha) do |f| %>
  <% if @sanguosha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sanguosha.errors.count, "error") %> prohibited this sanguosha from being saved:</h2>

      <ul>
      <% @sanguosha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :yueyue_date %><br />
    <%= f.datetime_select :yueyue_date %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
