
    <div class="logo"> 
	  <img src="/images/yuey.gif" width="91" height="35" alt="约约" />
    </div>
	
     <div class="top">
     	<%= link_to '参加约约', {:controller => "sanguoshas", :action => "join", :id=> @sanguosha.id} %>
     	
     	<%= link_to '退出约约', {:controller => "sanguoshas", :action => "quit", :id=> @sanguosha.id} %>
     	
		<%= link_to '发起约约', new_sanguosha_path %>
		  <% unless User.find_by_id(session[:user_id]) %>
        <%= link_to "登录", {:controller => "users", :action => "login", :id=>'1'}%>
  	 <% else %>
  	    <%= link_to "退出", {:controller => "users", :action => "logout", :id=>'1'}%>
    <% end %>    
		
         <%= link_to '注册', new_user_path %>     </div>

   <div>发起人：<%= @user.name %></div>

   <div>约约内容：<%= @sanguosha.description %></div>
   <div>时间：<%= @sanguosha.yueyue_date %></div>
	<div>地点：<%= @sanguosha.place %></div>
	
		<% @sanguosha.users.each do |user| %>
		<div class="bt">
			参与者：<%= user.name %>
		</div>

	<% end %>



<%= link_to '返回', sanguoshas_path %>
