
    <div class="logo"> 
	  <img src="images/yuey.gif" width="91" height="35" alt="约约" />
    </div>
	
   <div class="top">
      <%= link_to '发起约约', new_sanguosha_path %>
      <a  href="login.html">登录</a>
      <a  href="logon.html">注册</a>
   </div>

   <div>发起人：约约</div>

   <div>约约内容：<%= @sanguosha.description %></div>
   <div>时间：<%= @sanguosha.yueyue_date %></div>
	<div>地点：<%= @sanguosha.place %></div>



<%= link_to '返回', sanguoshas_path %>
