<%require "weibo"%>
<%= form_for(@yueyue_object) do |f| %>
<% if @yueyue_object.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@yueyue_object.errors.count, "error") %> prohibited this yueyue_object from being saved:</h2>

	<ul>
		<% @yueyue_object.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :约约标题 %><br />
	<%= f.text_field :title %>
</div>

<div class="field">
	<%= f.label :约约时间 %><br />
	<%= f.date_select(:yueyue_date)%>
</div>

<%=edit_yueyue_properties.html_safe%>

<%Weibo.weibo_types.each do |weibo_type|%>
<div class="field">
	<%= check_box_tag "weibo_types[]", weibo_type %>
	<%= f.label I18n.t("weibo.sendto") + I18n.t("weibo.#{weibo_type}") %><br />
</div>
<%end%>

<input type="hidden" id="yueyue_type_id" name="yueyue_object[yueyue_type_id]" value="<%=@yueyue_type.id%>">

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
