<%require "weibo"%>
<%= form_for(@yueyue_object) do |f| %>
<% if @errors %>
<div class="error">
	<h2> 出错了！</h2>

	<ul>
		<% @errors.each do |msg| %>
		<li><%= msg[1] %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :约约内容 %><br />
	<%= f.text_field :title %>
</div>

<div class="field">
	<%= f.label :约约时间 %><br />
	<%= f.date_select(:yueyue_date)%>
</div>

<%=edit_yueyue_properties.html_safe%>

<%Weibo.weibo_types.each do |weibo_type|%>
<div class="field">
	<%= check_box_tag "weibo_types[]", weibo_type %>
	<%= f.label I18n.t("weibo.sendto") + I18n.t("weibo.#{weibo_type}") %><br />
</div>
<%end%>

<input type="hidden" id="yueyue_type_id" name="yueyue_object[yueyue_type_id]" value="<%=@yueyue_type.id%>">

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
