<div class="kk1">
	<% 
	type_count = 0
	@yueyue_types.each do |yueyue_type| %>
	<%= link_to yueyue_type.name, {:action => "index", :type=>yueyue_type}%>.
	<%
	type_count += 1
	if (type_count % 4 == 0)%>
	<br />
	<%
	end
	end
%>
</div>

<div class="kk2">
	<% form_tag '', :method=>'GET' do %>
	<input type="text" size="12"  name="search_str" />
	<%= submit_tag "搜约约" %>
	<% end %>
</div>

<div class="zt">
	<%= link_to "最新约约", {:controller => "yueyue_objects", :action => "list", :order => 'created_at', :page=>1}%>
</div>

<% @yueyue_objects.each do |yueyue_object| %>
<div class="kk2">
	<div class="bt">
		<%=yueyue_object.owner.name%>:<%= link_to yueyue_object.title, yueyue_object %> 

	</div>
</div>
<% end %>

<% if @hot_yueyue_objects %>
<div class="zt">
	<%= link_to "热门约约", {:controller => "yueyue_objects", :action => "list", :order=>'rate desc', :page=>1}%>
</div>

<% @hot_yueyue_objects.each do |yueyue_object| %>
<div class="kk2">
	<div class="bt">
		<%=yueyue_object.owner.name%>:<%= link_to yueyue_object.title, yueyue_object %> 

	</div>
</div>
<% end %>
<% end %>