<div class="kk1">
	<div class="ztfn">
		<% 
		type_count = 0
		@yueyue_types.each do |yueyue_type| %>
			<%= link_to yueyue_type.name, {:action => "index", :type=>yueyue_type}%>.
		<%
			type_count += 1
			if (type_count % 4 == 0)%>
				<br />
			<%
			end
		end
		%>
	</div>
</div>

<div class="kk2">
	<% form_tag :url=>{:action=>'index'} do %>
		<input type="text" size="12"  name="search_str" />
		<%= submit_tag "搜约约" %>
	<% end %>
</div>


<table>
  <tr>
    <th>约约</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @yueyue_objects.each do |yueyue_object| %>
  <tr>
	<td><%= yueyue_object.title %></td>
    <td><%= link_to 'Show', yueyue_object %></td>
    <td><%= link_to 'Edit', edit_yueyue_object_path(yueyue_object) %></td>
    <td><%= link_to 'Destroy', yueyue_object, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yueyue object', new_yueyue_object_path %>
