<div>
	<% 
	type_count = 0
	@yueyue_types.each do |yueyue_type| %>
	<%= link_to yueyue_type.name, {:action => "index", :type=>yueyue_type}%>.
	<%
	type_count += 1
	if (type_count % 5 == 0)%>
	<br />
	<%
end
end
%>
</div>

<div>
	<% form_tag("/yueyue_objects/index") do %>
	<%= text_field_tag :search_str, @search_str, :size => 12 %>
	<%= submit_tag "搜约约" %>
	<% end %>
</div>

<h3>
	<%= link_to "最新约约", {:controller => "yueyue_objects", :action => "list", :order => 'created_at', :page=>1}%>
</h3>

<% length = @yueyue_objects.count - 1 %>
<% @yueyue_objects.each_index do |i| %>
<div class="list">
	<% yueyue_object = @yueyue_objects[i] %>
	<% if i != length%>
	<div class="item">
		<% else %>
		<div class="item_last">
			<% end %>
			<%= link_to yueyue_object.owner.nick_name, :controller => "users", :action => "show", :id => yueyue_object.owner.id %>
			:<%= link_to yueyue_object.title, yueyue_object %>
		</div>
	</div>
	<% end %>

	<% if @hot_yueyue_objects %>
	<h3>
		<%= link_to "热门约约", {:controller => "yueyue_objects", :action => "list", :order=>'rate desc', :page=>1}%>
	</h3>
	<% length = @hot_yueyue_objects.count - 1 %>
	<% @hot_yueyue_objects.each_index do |i| %>
	<div class="list">
		<% yueyue_object = @hot_yueyue_objects[i] %>
		<% if i != length%>
		<div class="item">
			<% else %>
			<div class="item_last">
				<% end %>
				<%= link_to yueyue_object.owner.nick_name, :controller => "users", :action => "show", :id => yueyue_object.owner.id %>
				:<%= link_to yueyue_object.title, yueyue_object %> 
			</div>
		</div>
		<% end %>
		<% end %>