<div class="kk2">
	<% form_tag do %>
	<%= text_field_tag :search_str, @search_str, :size => 12 %>
	<%= submit_tag "搜约约" %>
	<% end %>
</div>

<div class="nav">
	约约列表
</div>

<% @yueyue_objects.each do |yueyue_object| %>
<div class="kk2">
	<div class="bt">
		<%=yueyue_object.owner.nick_name%>:<%= link_to yueyue_object.title, yueyue_object %> 
	</div>
</div>
<% end %>

<div class="kk2">
	<%= will_paginate @yueyue_objects %>
</div>