<p id="notice"><%= notice %></p>
<div class="bt"><%=render_nav.html_safe%></div> 
<br>

<div class="bt"><%= simple_format @yueyue_object.title %></div> 

<br>
<div class="bt">发起人：<%= @yueyue_object.owner.nick_name %></div>  
<div class="bt">约约时间：<%= @yueyue_object.yueyue_date.strftime("%Y-%m-%d") %></div> 
<%=render_yueyue_properties.html_safe%>
<div class="bt"><%=render_nav.html_safe%></div> 
<div class="nav">他/她们参加(<%=@participants.count%>) <%=link_to "群发消息", "/send_msg/#{Message::YUEYUE_MESSAGES}/#{@yueyue_object.id}" %></div>
<% @participants.each do |participant| %>
	<div class="bt">
	<% gender = participant.gender=='m' ? 'GG':'MM'%>
	<%= link_to participant.nick_name, participant %>(<%=gender%>)
	</div>
<% end %>