<%=render_nav.html_safe%>
<p id="notice"><%= notice %></p>

<div class="bt"><span class="t1">发&nbsp;起&nbsp;人：</span>&nbsp;<%= @yueyue_object.owner.nick_name %></div> 
<div class="bt"><span class="t1">约约标题&nbsp;：</span>&nbsp;<%= @yueyue_object.title %></div> 
<div class="bt"><span class="t1">约约时间&nbsp;：</span>&nbsp;<%= @yueyue_object.yueyue_date.strftime("%Y-%m-%d") %></div> 

<%=render_yueyue_properties.html_safe%>
<%=render_nav.html_safe%>
