<%= form_for(@yueyue_type) do |f| %>
  <% if @yueyue_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yueyue_type.errors.count, "error") %> prohibited this yueyue_type from being saved:</h2>

      <ul>
      <% @yueyue_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :主题名称 %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
