<h1>约约主题</h1>

<table>

<% @yueyue_types.each do |yueyue_type| %>
  <tr>
    <td><%= yueyue_type.name %>
	</td>
    <td><%= link_to '查看', yueyue_type %></td>
    <td><%= link_to '修改', edit_yueyue_type_path(yueyue_type) %></td>
    <td><%= link_to '删除', yueyue_type, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新增约约主题', new_yueyue_type_path %>
