<h1><%=I18n.t('yueyue_types.type')%> | <%= link_to I18n.t('yueyue_type_properties.property'), yueyue_type_properties_path %></h1>

<table>

<% @yueyue_types.each do |yueyue_type| %>
  <tr>
    <td><%= link_to yueyue_type.name, yueyue_type %></td>
    <td><%= link_to I18n.t('yueyue_types.rename'), edit_yueyue_type_path(yueyue_type) %></td>
    <td><%= link_to I18n.t('helpers.delete'), yueyue_type, :method=>:delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('yueyue_types.add'), new_yueyue_type_path %>

