<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t 'yueyue_types.type'%>:</b>
  <%= @yueyue_type.name %>
</p>

<table>
  <tr>
	<th><%=I18n.t 'yueyue_types.properties'%></th>
  </tr>

<% @yueyue_type_properties.each do |yueyue_type_property| %>
  <tr>
	<td><%= yueyue_type_property.name %></td>

  </tr>
<% end %>
</table>

<%= link_to I18n.t('yueyue_types.rename'), edit_yueyue_type_path(@yueyue_type) %> |
<%= link_to I18n.t('yueyue_types.properties'), :action=>"show_properties", :id=>@yueyue_type.id %> |
<%= link_to I18n.t('helpers.quit'), yueyue_types_path(:yueyue_type=>@yueyue_type) %>
