<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :yueyue_date %><br />
    <%= f.datetime_select :yueyue_date %>
  </div>
  	<div class="field">
	    <%= f.label :movie_name %><br />
	    <%= f.text_field :movie_name %>
	  </div>
	  <div class="field">
	    <%= f.label :ticket_fee %><br />
	    <%= f.text_field :ticket_fee %>
	  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
