 <div class="logo"> 
	     <img src="images/yuey.gif" width="91" height="35" alt="约约" /> 
	 </div>
	<h1>约约电影</h1>
     <div class="top">
		<%= link_to '发起约约', new_movie_path %>
		<%= link_to "约约广场", {:controller => "topic", :action => "index"}%> 
		  <% unless User.find_by_id(session[:user_id]) %>
        <%= link_to "登录", {:controller => "users", :action => "login", :id=>'1'}%>
  	 <% else %>
  	    <%= link_to "退出", {:controller => "users", :action => "logout", :id=>'1'}%>
    <% end %>    
		
         <%= link_to '注册', new_user_path %>     </div>
     <div class="ztfn">休闲.游戏.户外.运动<br />
                       电影.杀人.爬山.足球<br />
                      <%= link_to "三国杀", {:controller => "sanguoshas", :action => "index"}%> 
					  <%= link_to "看电影", {:controller => "movies", :action => "index"}%> 
						.旅游.篮球
	 </div>
     <div class="bt">
		<% form_tag '', :method=>'GET' do %>
					<input type="text" size="12"  name="search_str" />
					<%= submit_tag "搜索" %>
		<% end %>
</div>

      <div class="zt"><a href="date info.html">热门约约</a></div>

	<% @movies.each do |movie| %>
		<div class="bt">
			<%= 
			if (movie.yueyue_owner)
			user = User.find(movie.yueyue_owner)
			if user
				user.name
			end
			end%>
			<a href="date info.html">
			 
			<%= link_to movie.description, movie %> <span><%= movie.yueyue_date %></span>
		</div>

	<% end %>




