<%= form_tag({:action => 'update'}, :method => 'put', :multipart => true) do %>
<div class="kuang">
	<div>
		约约昵称：
		<%= text_field_tag(:nick_name, @user.nick_name) %>
	</div>
	<hr />
	<div>
		用户性别：
		<%= radio_button_tag(:gender, "male", @user.gender == "m") %>
		<%= label_tag(:gender_male, "男") %>
		<%= radio_button_tag(:gender, "female", @user.gender == "f") %>
		<%= label_tag(:gender_female, "女") %>
	</div>
	<hr />
	<div>
		生活城市：
		<%= text_field_tag(:city, @user.city) %>


	</div>
	<hr />
	<div>
		当前状态：
		<%= radio_button_tag(:status, "solo", @user.status == "solo") %>
		<%= label_tag(:status_solo, "单身") %>
	</div>


</div>
</div>
<div class="kuang">
	<div>

		自我介绍：<br />
		<%= text_area_tag(:description, @user.description) %>
	</div>
</div>

<div class="kuang">
	<div>
		当前头像:<br>
		<% profile_image_url = @user.profile_image_url || "nopicture.png" %>
		<%= image_tag(profile_image_url, :height => '50', :width => '50') %><br>
		更换头像：
		<%= file_field_tag 'picture', :value => '', :accept => 'image/png,image/gif,image/jpeg' %> 
	</div>
</div>
<%= submit_tag("确定") %>
</div>
<% end %>