<%= form_tag({:action => 'update'}, :method => 'put', :multipart => true) do %>
<div class="kuang">
	<div>
		约约昵称：
		<%= text_field_tag(:nick_name, @user.nick_name) %>
	</div>
	<hr />
	<div>
		用户性别：
		<%= radio_button_tag(:gender, "male", @user.gender == "m") %>
		<%= label_tag(:gender_male, "男") %>
		<%= radio_button_tag(:gender, "female", @user.gender == "f") %>
		<%= label_tag(:gender_female, "女") %>
	</div>
	<hr />
	<div>
		生活城市：
		<%= text_field_tag(:city, @user.city) %>

	</div>
	<hr />
	<div>
		当前状态：
		<%= radio_button_tag(:status, "solo", @user.status == "solo") %>
		<%= label_tag(:status_solo, "单身") %>
	</div>
	<hr />
	<div>

		自我介绍：<br />
		<%= text_area_tag(:description, @user.description) %>
	</div>
	<hr />
	<div>
		当前头像:<br>
		<% profile_image_url = @user.profile_image_url || "/uploads/nopicture.png" %>
		<%= image_tag(profile_image_url, :height => '50', :width => '50') %><br>
		更换头像：
		<%= file_field_tag 'picture', :value => '', :accept => 'image/png,image/gif,image/jpeg' %> 
	</div>
<hr />
<%= submit_tag("确定") %>
<%= link_to("重置密码", :controller => 'accounts', :action => "reset_password")%>

</div>
<div class="kuang">
绑定微博、社区：<br/>
<% if @user.get_account_by_type("sina") %>
已绑定新浪微博
<% else %>
<%= link_to(image_tag("sina_weibo.png"),
{ :controller => 'weibo', :action =>'authorize', :account_type => "sina"}) %>
<% end %>
<br/>
<% if @user.get_account_by_type("qq") %>
已绑定QQ微博
<% else %>
<%= link_to(image_tag("qq_weibo.png"),
{ :controller => 'weibo', :action =>'authorize', :account_type => "qq"}) %>
<% end %>
</div>
<% end %>