<% if (flash[:notice]) %>
<div class="error">
	<%= flash[:notice]%>
</div>
<% end %>

<% form_tag do %>
<div>
	<label>你的邮箱地址</label>
	<div class="item">
		<%= text_field_tag(:account_name) %>
	</div>
	<label>你在约约的密码</label>
	<div class="item">
		<%= password_field_tag(:account_password) %>
	</div>
	<%= hidden_field_tag 'account_type', 'email'%>
	<div class="submit-item">
		<%= submit_tag "登录" %>
		<%= link_to '注册', :controller => "accounts", :action => "new" %>  
		<%= link_to '忘记密码', :controller => "accounts", :action => "forgot_password"%>
	</div>
</div>
<% end %>
<%= link_to(image_tag("sina_weibo.png"),
{ :controller => 'weibo', :action =>'authorize', :account_type => "sina"}) %>”