    	 <div>
		<% form_tag(:action => "create") do %>

		  <div>
			   邮箱<br/>
			   <%= text_field_tag(:name) %>
		  </div>

		  <div>
		     密码<br/>
		     <%= password_field_tag(:password) %>
		  </div>

		  <div>
		     确认密码<br/>
		     <%= password_field_tag(:password_confirmation) %>
		  </div>

		  <div>
		  <%= submit_tag "注册" %>
		 
		  </div>
		<% end %>
		
		 </div>
		<%= link_to(image_tag("sina_weibo.png"),
		{ :controller => "weibo",
		:action => "request_token"})
		%> 

