
     
	 <div>
		
		<% form_for(@user) do |f| %>
		  <%= f.error_messages %>


		  <div>
			   手机|邮箱|用户名<br/>
		    <%= f.text_field :name, :size => 30 %>
		  </div>

		  <div>
		     密码<br/>
		    <%= f.password_field :password, :size => 30 %>
		  </div>

		  <div>
		     确认密码<br/>
		    <%= f.password_field :password_confirmation, :size => 30 %>
		  </div>

		  <div>
		    <%= f.submit "注册", :class => "submit" %>
		  </div>
		<% end %>
		
		 </div>
		<%= link_to(image_tag("sina_weibo.png"),
		{ :controller => "weibo",
		:action => "request_token"})
		%> 

