<div class="friend">
	<div class="middle">
	<%= @user.nick_name || "蓝精灵"%>
</div><hr />
<table>
	<tbody>
		<tr>
			<td>
				<% picture_url = @user.profile_image_url || "/uploads/nopicture.png" %>
				<%= image_tag(picture_url, :height => '50', :width => '50')%>
			</td>
			<td valign="top">
				<%= @user.city || "未知城市"%><br />
				<span><%= @user.description || "我很懒，什么都没有留下。"%></span><br/>
				<% if session[:user_id] != nil %>
				<% login_user = User.find_by_id(session[:user_id]) %>
				<% if login_user != @user %>
				<% unless (login_user.get_friends.include? @user) %>
				<div class="tblue">
					<%= form_for(login_user.groups[0]) do |f| %>
					<input name="user_id" type="hidden" value=<%= @user.id%> /> 
					<input name="update_users_method" type="hidden" value="add" />
					<%= f.submit "加为好友"  %>
					<% end %>
				</div>
				<% end%>
				<%= form_tag("/send_msg/#{Message::USER_SENT}/#{@user.id}") do %>
				<% session[:after_send_message_url] = request.fullpath %>
				<%= submit_tag "发送消息"  %>
				<% end %>
				<% end%>
				<% end %>
			</td>
		</tr>

	</tbody>
</table>
<hr />

<div >
	他的好友：<br />
	<% if !@friends.blank? %>
	  <% for friend in @friends %>
	<%= link_to friend.nick_name, :controller => "users", :action => "show", :id => friend.id %>
	  <% end %>
	<% end %>

</div>
</div>

<div class="zt">
	<%= @user.nick_name%>的约约
</div>

<% @user.unfinished_yueyue_objects.each do |yueyue_object| %>
<div class="kk2">
	<div class="bt">
		[参加]:<%= link_to yueyue_object.title, yueyue_object %> 
	</div>
</div>
<% end %>
