<% if session[:notice] != nil %>
      <div class="error">
<%= session[:notice] %>
	</div>
      <% session[:notice] = nil %>
<% end %>

<%= form_tag(:action => "search") do %> 
 <label>"请输入区号或者城市名，如：010、北京"</label>
 <div class="item">
  <%= text_field_tag(:q) %>  
  </div>
<div class="submit-item">
  <%= submit_tag("切换") %>
</div>
  <% end %> 

<div>	
<% @cities.each do |city| %>
    <td><%= link_to city.name, {:action => "change_city", :id => city} %></td>
<% end %>
</div>

<div>
<% @Alphabet.each do |letter| %>
  <%= link_to letter, {:action => "index_by_letter", :id => letter} %>
<% end %>
</div>

<%= link_to '返回', @return_url %>
