<%= form_for(@yueyue_type_property) do |f| %>
  <% if @yueyue_type_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yueyue_type_property.errors.count, "error") %> prohibited this yueyue_type_property from being saved:</h2>

      <ul>
      <% @yueyue_type_property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t('yueyue_type_properties.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label I18n.t('yueyue_type_properties.default_value') %><br />
    <%= f.text_field :default_value %>
  </div>
  <div class="field">
    <%= f.label I18n.t('yueyue_type_properties.builder') %><br />
    <%= f.select(:builder, t_builder)%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
