<h1><%= link_to I18n.t('yueyue_types.type'), yueyue_types_path %> | <%= I18n.t 'yueyue_type_properties.property' %></h1>

<table>


<% @yueyue_type_properties.each do |yueyue_type_property| %>
  <tr>
    <td><%= link_to yueyue_type_property.name, edit_yueyue_type_property_path(yueyue_type_property) %></td>
    <td><%= link_to I18n.t('helpers.delete'), yueyue_type_property, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('yueyue_type_properties.add'), new_yueyue_type_property_path %>
