<p id="notice"><%= I18n.t @notice %></p>

<p>
  <b>Name:</b>
  <%= @yueyue_type_property.name %>
</p>

<p>
  <b>Default value:</b>
  <%= @yueyue_type_property.default_value %>
</p>


<%= link_to 'Edit', edit_yueyue_type_property_path(@yueyue_type_property) %> |
<%= link_to 'Back', yueyue_type_path(@yueyue_type_property.yueyue_type) %>
