<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t 'yueyue_type_properties.name'%>:</b>
  <%= @yueyue_type_property.name %>
</p>

<p>
  <b><%=I18n.t 'yueyue_type_properties.default_value'%>:</b>
  <%= @yueyue_type_property.default_value %>
</p>


<%= link_to I18n.t('helpers.edit'), edit_yueyue_type_property_path(@yueyue_type_property) %> |
<%= link_to I18n.t('helpers.quit'), yueyue_type_properties_path %>
