<p id="notice"><%= notice %></p>

<p>
  <b>属性名称:</b>
  <%= @yueyue_type_property.name %>
</p>

<p>
  <b>默认值:</b>
  <%= @yueyue_type_property.default_value %>
</p>


<%= link_to '修改属性', edit_yueyue_type_property_path(@yueyue_type_property) %> |
<%= link_to '返回', yueyue_type_path(@yueyue_type_property.yueyue_type) %>
