<%= form_for(@yueyue_type_action) do |f| %>
<% if @yueyue_type_action.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@yueyue_type_action.errors.count, "error") %> prohibited this yueyue_type_action from being saved:</h2>

	<ul>
		<% @yueyue_type_action.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<select name="yueyue_type">
<%if (@yueyue_type)%>
<option value="<%=@yueyue_type.id%>"><%=@yueyue_type.name%></option>
<% end %>
</select>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
