<%= form_for(@yueyue_type_action) do |f| %>
  <% if @yueyue_type_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yueyue_type_action.errors.count, "error") %> prohibited this yueyue_type_action from being saved:</h2>

      <ul>
      <% @yueyue_type_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
