<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @yueyue_type_action.name %>
</p>
<p>
  <b>Title:</b>
  <%= @yueyue_type_action.name %>
</p>
<%= link_to 'Edit', edit_yueyue_type_action_path(@yueyue_type_action) %> |
<%= link_to 'Back', yueyue_type_actions_path %>
