<% if @message != nil %>
<div class="error">
	<%= @message %>
</div>
<% end %>

<div class="bd">
<% if @account %>
<% form_tag(:action => "update_password", :id => @account.id) do %>
<label>密码</label>
<div class="item">
	<%= password_field_tag(:password) %>
</div>
<label>确认密码<label>
	<div class="item">
		<%= password_field_tag(:password_confirmation) %>
	</div>
	<div class="submit-item">
		<%= submit_tag "更改密码" %>
	</div>
	<% end %>
	<% else %>
	<%= link_to '链接错误，请重新找回密码', :controller => "accounts", :action => "forgot_password"%>
	<% end %>
</div>